/* screen - both-seller */

.both-seller {
  background-color: transparent;
  height: 1134px;
  overflow-x: hidden;
  position: relative;
  width: 1512px;
}

.both-seller .rectangle-1-3lqoYp {
  background-color: var(--cape-cod);
  height: 72px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1512px;
}

.both-seller .frame-1216-3lqoYp {
  background-color: transparent;
  height: 1062px;
  left: 0px;
  position: absolute;
  top: 72px;
  width: 1512px;
}

.both-seller .frame-1215-z8agsG {
  background-color: var(--black-2);
  height: 1062px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 882px;
}

.both-seller .frame-1215-Q8WyjZ {
  background-color: transparent;
  height: 1062px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 882px;
}

.both-seller .rectangle-2-Q8WyjZ {
  background-color: var(--quill-gray);
  height: 88px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 882px;
}

.both-seller .frame-1204-z8agsG {
  background-color: var(--white);
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0px 1px 3px #0000001a , 0px 1px 2px #0000000f;
  height: 1062px;
  left: 876px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 636px;
}

.both-seller .icon-close-JU8SBn {
  background-color: transparent;
  height: 16px;
  left: 24px;
  position: absolute;
  top: 24px;
  width: 588px;
}

.both-seller .frame-1205-JU8SBn {
  background-color: transparent;
  height: 33px;
  left: 24px;
  position: absolute;
  top: 72px;
  width: 588px;
}

.both-seller .get-selling-estimates-from-7xStNp {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.both-seller .vector-7xStNp {
  background-color: transparent;
  height: 32px;
  left: 308px;
  position: absolute;
  top: 0px;
  width: 92px;
}

.both-seller .frame-1203-JU8SBn {
  background-color: transparent;
  height: 886px;
  left: 28px;
  position: absolute;
  top: 137px;
  width: 584px;
}

.both-seller .frame-1192-S02xx7 {
  background-color: transparent;
  height: 194px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 580px;
}

.both-seller .frame-15-jh4JV7 {
  background-color: transparent;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 580px;
}

.both-seller .frame-14-fxFtH8 {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 305px;
}

.both-seller .x3475-bear-creek-dr-boulder-co-80301-5x9p8r {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}

.both-seller .line-2-fxFtH8 {
  background-color: transparent;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 580px;
}

.both-seller .frame-17-jh4JV7 {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 64px;
  width: 314px;
}

.both-seller .approx-home-value-xzi5U1 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.both-seller .filter-dropdown-menu-xzi5U1 {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 21px;
  width: 314px;
}

.both-seller .select-7REN9a {
  background-color: var(--white);
  border-radius: 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 314px;
}

.both-seller .x300000-VlpF70 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 298px;
}

.both-seller .frame-1191-jh4JV7 {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 141px;
  width: 314px;
}

.both-seller .frame-18-z8pq2M {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 108px;
}

.both-seller .home-condition-kBZ7qy {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.both-seller .filter-dropdown-menu-z8pq2M {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 21px;
  width: 314px;
}

.both-seller .select-BEqsEq {
  background-color: var(--white);
  border-radius: 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 314px;
}

.both-seller .needs-minor-repairs-sUxbon {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 266px;
}

.both-seller .icon-linear-sUxbon {
  background-color: transparent;
  height: 20px;
  left: 286px;
  mix-blend-mode: normal;
  position: absolute;
  top: 6px;
  width: 20px;
}

.both-seller .frame-1201-S02xx7 {
  background-color: transparent;
  height: 271px;
  left: 0px;
  position: absolute;
  top: 226px;
  width: 580px;
}

.both-seller .frame-1194-YHVrSh {
  background-color: transparent;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 580px;
}

.both-seller .frame-1193-BAPb3Y {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 51px;
}

.both-seller .fees-ujZkma {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 7px;
  width: auto;
}

.both-seller .line-3-BAPb3Y {
  background-color: transparent;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 580px;
}

.both-seller .frame-1200-YHVrSh {
  background-color: transparent;
  height: 207px;
  left: 0px;
  position: absolute;
  top: 64px;
  width: 239px;
}

.both-seller .frame-1197-4bHNGR {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 239px;
}

.both-seller .seller-agent-MqSJac {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.both-seller .frame-1196-MqSJac {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 239px;
}

.both-seller .filter-dropdown-menu-ghRVrR {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 160px;
}

.both-seller .select-clSJl4 {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 160px;
}

.both-seller .x9600-nuuuYx {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 144px;
}

.both-seller .filter-dropdown-menu-9csWsa {
  background-color: transparent;
  height: 32px;
  left: 159px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.both-seller .select-uSR5sv {
  background-color: var(--white);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.both-seller .x32-CswEUA {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.both-seller .frame-1198-4bHNGR {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 77px;
  width: 239px;
}

.both-seller .buyer-agent-LMtZnm {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.both-seller .frame-1196-LMtZnm {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 239px;
}

.both-seller .filter-dropdown-menu-FKxNhP {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 160px;
}

.both-seller .select-xyGM89 {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 160px;
}

.both-seller .x9600-TxAyFG {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 144px;
}

.both-seller .filter-dropdown-menu-7lmhTX {
  background-color: transparent;
  height: 32px;
  left: 159px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.both-seller .select-oV3j02 {
  background-color: var(--white);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.both-seller .x32-x0yhKL {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.both-seller .frame-1199-4bHNGR {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 239px;
}

.both-seller .closing-costs-RhcMxh {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.both-seller .frame-1196-RhcMxh {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 239px;
}

.both-seller .filter-dropdown-menu-xtCZjO {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 160px;
}

.both-seller .select-q3S5zb {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 160px;
}

.both-seller .x9600-7EdsxQ {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 144px;
}

.both-seller .filter-dropdown-menu-nUy1d9 {
  background-color: transparent;
  height: 32px;
  left: 159px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.both-seller .select-Ahalqe {
  background-color: var(--white);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.both-seller .x32-dSW4wj {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.both-seller .frame-1202-S02xx7 {
  background-color: transparent;
  height: 357px;
  left: 0px;
  position: absolute;
  top: 529px;
  width: 584px;
}

.both-seller .frame-1194-o2xBxw {
  background-color: transparent;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 580px;
}

.both-seller .frame-1193-xOpQM2 {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 135px;
}

.both-seller .selling-solutions-EqDBV5 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 7px;
  width: auto;
}

.both-seller .line-3-xOpQM2 {
  background-color: transparent;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 580px;
}

.both-seller .frame-1212-o2xBxw {
  background-color: transparent;
  height: 171px;
  left: 0px;
  position: absolute;
  top: 72px;
  width: 584px;
}

.both-seller .frame-1206-HSRJrM {
  background-color: var(--athens-gray);
  border-radius: 10px;
  height: 171px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 184px;
}

.both-seller .open-market-sale-I5oP4D {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.both-seller .selling-on-the-open-I5oP4D {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 46px;
  width: 160px;
}

.both-seller .frame-1200-I5oP4D {
  background-color: transparent;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 127px;
  width: 159px;
}

.both-seller .frame-1196-GVu9WO {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 159px;
}

.both-seller .filter-dropdown-menu-7GvAgq {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.both-seller .select-V07yy8 {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.both-seller .hide-SuPcQC {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.both-seller .filter-dropdown-menu-9LXpms {
  background-color: transparent;
  height: 32px;
  left: 79px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.both-seller .select-ekwyx7 {
  background-color: var(--quill-gray-2);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.both-seller .include-6rlDxE {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 56px;
}

.both-seller .frame-1207-HSRJrM {
  background-color: var(--athens-gray);
  border-radius: 10px;
  height: 171px;
  left: 200px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 184px;
}

.both-seller .modern-bridge-K1YfUG {
  background-color: transparent;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.both-seller .enables-a-seller-who-K1YfUG {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 46px;
  width: 160px;
}

.both-seller .toggle-K1YfUG {
  background-color: transparent;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 127px;
  width: 159px;
}

.both-seller .frame-1196-s3atos {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 159px;
}

.both-seller .filter-dropdown-menu-5ZINnB {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.both-seller .select-m5GfcU {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.both-seller .hide-Kh17uW {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.both-seller .filter-dropdown-menu-6AbYjM {
  background-color: transparent;
  box-shadow: 0px 1px 3px #0000001a , 0px 1px 2px #0000000f;
  height: 32px;
  left: 79px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.both-seller .select-TXYqOW {
  background-color: var(--salem-2);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.both-seller .include-xg0BhN {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 56px;
}

.both-seller .frame-1208-HSRJrM {
  background-color: var(--athens-gray);
  border-radius: 10px;
  height: 171px;
  left: 400px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 184px;
}

.both-seller .instant-sale-UhwAIz {
  background-color: transparent;
  height: auto;
  left: 54px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.both-seller .allows-a-seller-to-m-UhwAIz {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 46px;
  width: 160px;
}

.both-seller .frame-1201-UhwAIz {
  background-color: transparent;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 127px;
  width: 159px;
}

.both-seller .toggle-6tcmqF {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 159px;
}

.both-seller .frame-1196-fqvh0x {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 159px;
}

.both-seller .filter-dropdown-menu-p9ZwFU {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.both-seller .select-kPAiME {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.both-seller .hide-3jDF9H {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.both-seller .filter-dropdown-menu-oVxegG {
  background-color: transparent;
  box-shadow: 0px 1px 3px #0000001a , 0px 1px 2px #0000000f;
  height: 32px;
  left: 79px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.both-seller .select-5XKjvR {
  background-color: var(--salem-2);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.both-seller .include-bvdxLC {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 56px;
}

.both-seller .frame-1214-o2xBxw {
  background-color: transparent;
  height: 82px;
  left: 0px;
  position: absolute;
  top: 275px;
  width: 584px;
}

.both-seller .frame-1253-kFNxDZ {
  background-color: transparent;
  height: 66px;
  left: 104px;
  position: relative;
  top: 16px;
  width: 376px;
}

.both-seller .frame-1213-gbQn2a {
  background-color: var(--azure);
  border-radius: 6px;
  height: 35px;
  left: 22px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 331px;
}

.both-seller .continue-to-explore-buying-solutions-PvlWxl {
  background-color: transparent;
  height: auto;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}

.both-seller .or-skip-buying-solut-gbQn2a {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 46px;
  width: auto;
}

.both-seller .span0-SzS0jI {
  color: var(--black);
  font-family: var(--font-family-avenir-medium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.both-seller .span1-SzS0jI {
}
