/* screen - both-buyer */

.both-buyer {
  background-color: transparent;
  height: 1134px;
  overflow-x: hidden;
  position: relative;
  width: 1512px;
}

.both-buyer .rectangle-1-v7UDeV {
  background-color: var(--cape-cod);
  height: 72px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1512px;
}

.both-buyer .frame-1216-v7UDeV {
  background-color: transparent;
  height: 1062px;
  left: 0px;
  position: absolute;
  top: 72px;
  width: 1512px;
}

.both-buyer .frame-1215-YJJ86C {
  background-color: var(--black-2);
  height: 1062px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 882px;
}

.both-buyer .frame-1215-mycv4V {
  background-color: transparent;
  height: 1062px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 882px;
}

.both-buyer .rectangle-2-mycv4V {
  background-color: var(--quill-gray);
  height: 88px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 882px;
}

.both-buyer .frame-1204-YJJ86C {
  background-color: var(--white);
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0px 1px 3px #0000001a , 0px 1px 2px #0000000f;
  height: 1062px;
  left: 876px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 636px;
}

.both-buyer .frame-13-wFjXGw {
  background-color: transparent;
  height: 19px;
  left: 24px;
  position: absolute;
  top: 24px;
  width: 588px;
}

.both-buyer .back-to-selling-solutions-YLhGAp {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.both-buyer .icon-close-YLhGAp {
  background-color: transparent;
  height: 16px;
  left: 572px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 16px;
}

.both-buyer .frame-1205-wFjXGw {
  background-color: transparent;
  height: 33px;
  left: 24px;
  position: absolute;
  top: 75px;
  width: 588px;
}

.both-buyer .get-buying-estimates-from-puopLI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.both-buyer .vector-puopLI {
  background-color: transparent;
  height: 32px;
  left: 310px;
  position: absolute;
  top: 0px;
  width: 92px;
}

.both-buyer .frame-1203-wFjXGw {
  background-color: transparent;
  height: 704px;
  left: 28px;
  position: absolute;
  top: 140px;
  width: 584px;
}

.both-buyer .frame-1192-tyKuiX {
  background-color: transparent;
  height: 117px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 580px;
}

.both-buyer .frame-15-CUUM3T {
  background-color: transparent;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 580px;
}

.both-buyer .frame-14-V7OQkQ {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 234px;
}

.both-buyer .buying-in-boulder-county-co-xhpyoV {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}

.both-buyer .line-2-V7OQkQ {
  background-color: transparent;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 580px;
}

.both-buyer .frame-17-CUUM3T {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 64px;
  width: 160px;
}

.both-buyer .home-purchase-price-0z3r5S {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.both-buyer .frame-1252-0z3r5S {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 342px;
}

.both-buyer .filter-dropdown-menu-64Up98 {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 160px;
}

.both-buyer .select-mdaBn2 {
  background-color: var(--white);
  border-radius: 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 160px;
}

.both-buyer .x400000-Dz5M0R {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: auto;
}

.both-buyer .filter-dropdown-menu-UUOy3P {
  background-color: transparent;
  height: 32px;
  left: 162px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 18px;
}

.both-buyer .select-qGe8Dh {
  background-color: var(--white);
  border-radius: 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 160px;
}

.both-buyer .x-z5FbuA {
  background-color: transparent;
  height: auto;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: auto;
}

.both-buyer .filter-dropdown-menu-NNHWFc {
  background-color: transparent;
  height: 32px;
  left: 182px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 160px;
}

.both-buyer .select-2zVgdD {
  background-color: var(--white);
  border-radius: 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 160px;
}

.both-buyer .x500000-AkJZ6T {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: auto;
}

.both-buyer .frame-1201-tyKuiX {
  background-color: transparent;
  height: 194px;
  left: 0px;
  position: absolute;
  top: 149px;
  width: 580px;
}

.both-buyer .frame-1194-tQm1Ub {
  background-color: transparent;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 580px;
}

.both-buyer .frame-1193-xkz59h {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 51px;
}

.both-buyer .fees-mR65ip {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 7px;
  width: auto;
}

.both-buyer .line-3-xkz59h {
  background-color: transparent;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 580px;
}

.both-buyer .frame-1200-tQm1Ub {
  background-color: transparent;
  height: 130px;
  left: 0px;
  position: absolute;
  top: 64px;
  width: 383px;
}

.both-buyer .frame-1197-Qa1Ipy {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 383px;
}

.both-buyer .down-payment-tFKLXm {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.both-buyer .frame-1252-tFKLXm {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 383px;
}

.both-buyer .frame-1196-ETHf51 {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 177px;
}

.both-buyer .filter-dropdown-menu-P75bki {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 98px;
}

.both-buyer .select-BrHGEK {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 98px;
}

.both-buyer .x12000-RjM7MC {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 82px;
}

.both-buyer .filter-dropdown-menu-uhnfip {
  background-color: transparent;
  height: 32px;
  left: 97px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.both-buyer .select-fGNuiN {
  background-color: var(--white);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.both-buyer .x30-ow0cK0 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.both-buyer .filter-dropdown-menu-ETHf51 {
  background-color: transparent;
  height: 32px;
  left: 179px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 18px;
}

.both-buyer .select-mh3V8y {
  background-color: var(--white);
  border-radius: 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 160px;
}

.both-buyer .x-B0SJGf {
  background-color: transparent;
  height: auto;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: auto;
}

.both-buyer .filter-dropdown-menu-vsTeKy {
  background-color: transparent;
  height: 32px;
  left: 199px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 160px;
}

.both-buyer .frame-1196-FGw7Zx {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 177px;
}

.both-buyer .filter-dropdown-menu-V8ezQj {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 98px;
}

.both-buyer .select-FsxkRx {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 98px;
}

.both-buyer .x100000-ZzHUWS {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 82px;
}

.both-buyer .filter-dropdown-menu-8eYkO5 {
  background-color: transparent;
  height: 32px;
  left: 97px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.both-buyer .select-GhCBVR {
  background-color: var(--white);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.both-buyer .x200-uQ4QUE {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.both-buyer .frame-1199-Qa1Ipy {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 77px;
  width: 177px;
}

.both-buyer .closing-costs-CvZvqa {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.both-buyer .frame-1196-CvZvqa {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 177px;
}

.both-buyer .filter-dropdown-menu-CNzHdI {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 98px;
}

.both-buyer .select-aix9Wh {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 98px;
}

.both-buyer .x9600-MXptkv {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 82px;
}

.both-buyer .filter-dropdown-menu-pvig99 {
  background-color: transparent;
  height: 32px;
  left: 97px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.both-buyer .select-owdCrh {
  background-color: var(--white);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.both-buyer .x32-sMt1hF {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.both-buyer .frame-1202-tyKuiX {
  background-color: transparent;
  height: 329px;
  left: 0px;
  position: absolute;
  top: 375px;
  width: 584px;
}

.both-buyer .frame-1194-fnInqq {
  background-color: transparent;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 580px;
}

.both-buyer .frame-1193-hdHFRx {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 137px;
}

.both-buyer .buying-solutions-cjBprW {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 7px;
  width: auto;
}

.both-buyer .line-3-hdHFRx {
  background-color: transparent;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 580px;
}

.both-buyer .frame-1212-fnInqq {
  background-color: transparent;
  height: 174px;
  left: 0px;
  position: absolute;
  top: 72px;
  width: 584px;
}

.both-buyer .frame-1206-lxAFqQ {
  background-color: var(--athens-gray);
  border-radius: 10px;
  height: 171px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 184px;
}

.both-buyer .mortgage-financing-tHw5Jo {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.both-buyer .traditional-open-mar-tHw5Jo {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 46px;
  width: 160px;
}

.both-buyer .frame-1200-tHw5Jo {
  background-color: transparent;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 127px;
  width: 159px;
}

.both-buyer .frame-1196-xGlGQC {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 159px;
}

.both-buyer .filter-dropdown-menu-29GdHA {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.both-buyer .select-qar0Vm {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.both-buyer .hide-XDhHmF {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.both-buyer .filter-dropdown-menu-pA7s7g {
  background-color: transparent;
  height: 32px;
  left: 79px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.both-buyer .select-AzhM5m {
  background-color: var(--quill-gray-2);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.both-buyer .include-Ae056O {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 56px;
}

.both-buyer .frame-1207-lxAFqQ {
  background-color: var(--athens-gray);
  border-radius: 10px;
  height: 171px;
  left: 200px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 184px;
}

.both-buyer .cash-offer-eIEiq3 {
  background-color: transparent;
  height: auto;
  left: 56px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.both-buyer .turn-your-offer-into-eIEiq3 {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 46px;
  width: 160px;
}

.both-buyer .toggle-eIEiq3 {
  background-color: transparent;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 127px;
  width: 159px;
}

.both-buyer .frame-1196-ePczHI {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 159px;
}

.both-buyer .filter-dropdown-menu-0QJl22 {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.both-buyer .select-EoXvTf {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.both-buyer .hide-5TkXNf {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.both-buyer .filter-dropdown-menu-v2D4X1 {
  background-color: transparent;
  box-shadow: 0px 1px 3px #0000001a , 0px 1px 2px #0000000f;
  height: 32px;
  left: 79px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.both-buyer .select-RoRvbB {
  background-color: var(--salem-2);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.both-buyer .include-s3DAKm {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 56px;
}

.both-buyer .frame-1208-lxAFqQ {
  background-color: var(--athens-gray);
  border-radius: 10px;
  height: 174px;
  left: 400px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 184px;
}

.both-buyer .homeownership-accelerator-kyuFh7 {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: auto;
}

.both-buyer .use-your-rent-paymen-kyuFh7 {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 65px;
  width: 160px;
}

.both-buyer .frame-1201-kyuFh7 {
  background-color: transparent;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 130px;
  width: 159px;
}

.both-buyer .toggle-fBnc4x {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 159px;
}

.both-buyer .frame-1196-2Acxln {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 159px;
}

.both-buyer .filter-dropdown-menu-DcAEwp {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.both-buyer .select-JvvnJh {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.both-buyer .hide-ioKg2T {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.both-buyer .filter-dropdown-menu-IbHwvQ {
  background-color: transparent;
  box-shadow: 0px 1px 3px #0000001a , 0px 1px 2px #0000000f;
  height: 32px;
  left: 79px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.both-buyer .select-FKHyzv {
  background-color: var(--salem-2);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.both-buyer .include-EktwkM {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 56px;
}

.both-buyer .frame-1215-fnInqq {
  background-color: transparent;
  height: 51px;
  left: 0px;
  position: absolute;
  top: 278px;
  width: 584px;
}

.both-buyer .frame-1253-LcC73h {
  background-color: transparent;
  height: 35px;
  left: 180px;
  position: relative;
  top: 16px;
  width: 225px;
}

.both-buyer .frame-1213-VJDOzP {
  background-color: var(--azure);
  border-radius: 6px;
  height: 35px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 225px;
}

.both-buyer .add-to-presentation-CrDzpD {
  background-color: transparent;
  height: auto;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}
