/* screen - buyer-only */

.buyer-only {
  background-color: transparent;
  height: 1134px;
  overflow-x: hidden;
  position: relative;
  width: 1512px;
}

.buyer-only .rectangle-1-qnqv24 {
  background-color: var(--cape-cod);
  height: 72px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1512px;
}

.buyer-only .frame-1216-qnqv24 {
  background-color: transparent;
  height: 1062px;
  left: 0px;
  position: absolute;
  top: 72px;
  width: 1512px;
}

.buyer-only .frame-1215-U5EMYy {
  background-color: var(--black-2);
  height: 1062px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 882px;
}

.buyer-only .frame-1215-gzTtEz {
  background-color: transparent;
  height: 1062px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 882px;
}

.buyer-only .rectangle-2-gzTtEz {
  background-color: var(--quill-gray);
  height: 88px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 882px;
}

.buyer-only .frame-1204-U5EMYy {
  background-color: var(--white);
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0px 1px 3px #0000001a , 0px 1px 2px #0000000f;
  height: 1062px;
  left: 882px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 630px;
}

.buyer-only .icon-close-21s2Js {
  background-color: transparent;
  height: 16px;
  left: 24px;
  position: absolute;
  top: 24px;
  width: 582px;
}

.buyer-only .frame-1205-21s2Js {
  background-color: transparent;
  height: 33px;
  left: 24px;
  position: absolute;
  top: 72px;
  width: 582px;
}

.buyer-only .get-buying-estimates-from-jcNWnr {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.buyer-only .vector-jcNWnr {
  background-color: transparent;
  height: 32px;
  left: 310px;
  position: absolute;
  top: 0px;
  width: 92px;
}

.buyer-only .frame-1203-21s2Js {
  background-color: transparent;
  height: 704px;
  left: 22px;
  position: absolute;
  top: 137px;
  width: 584px;
}

.buyer-only .frame-1192-hg4DgP {
  background-color: transparent;
  height: 117px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 580px;
}

.buyer-only .frame-15-jWgfWF {
  background-color: transparent;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 580px;
}

.buyer-only .frame-14-bWSzMT {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 234px;
}

.buyer-only .buying-in-boulder-county-co-mt9DYy {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}

.buyer-only .line-2-bWSzMT {
  background-color: transparent;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 580px;
}

.buyer-only .frame-17-jWgfWF {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 64px;
  width: 160px;
}

.buyer-only .home-purchase-price-XmTVgr {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.buyer-only .frame-1252-XmTVgr {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 342px;
}

.buyer-only .filter-dropdown-menu-DWFbW4 {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 160px;
}

.buyer-only .select-nhfg9n {
  background-color: var(--white);
  border-radius: 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 160px;
}

.buyer-only .x400000-oSQm5t {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: auto;
}

.buyer-only .filter-dropdown-menu-GQOrxv {
  background-color: transparent;
  height: 32px;
  left: 162px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 18px;
}

.buyer-only .select-r7ofza {
  background-color: var(--white);
  border-radius: 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 160px;
}

.buyer-only .x-EqIkxw {
  background-color: transparent;
  height: auto;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: auto;
}

.buyer-only .filter-dropdown-menu-iN6F3i {
  background-color: transparent;
  height: 32px;
  left: 182px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 160px;
}

.buyer-only .select-3W7ASR {
  background-color: var(--white);
  border-radius: 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 160px;
}

.buyer-only .x500000-1f026W {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: auto;
}

.buyer-only .frame-1201-hg4DgP {
  background-color: transparent;
  height: 194px;
  left: 0px;
  position: absolute;
  top: 149px;
  width: 580px;
}

.buyer-only .frame-1194-ik6mOx {
  background-color: transparent;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 580px;
}

.buyer-only .frame-1193-CZCUwU {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 51px;
}

.buyer-only .fees-K2Dox9 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 7px;
  width: auto;
}

.buyer-only .line-3-CZCUwU {
  background-color: transparent;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 580px;
}

.buyer-only .frame-1200-ik6mOx {
  background-color: transparent;
  height: 130px;
  left: 0px;
  position: absolute;
  top: 64px;
  width: 383px;
}

.buyer-only .frame-1197-Q63Rva {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 383px;
}

.buyer-only .down-payment-RAkpF3 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.buyer-only .frame-1252-RAkpF3 {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 383px;
}

.buyer-only .frame-1196-xjy3pd {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 177px;
}

.buyer-only .filter-dropdown-menu-9KxTxm {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 98px;
}

.buyer-only .select-us0GT7 {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 98px;
}

.buyer-only .x12000-mbfL3T {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 82px;
}

.buyer-only .filter-dropdown-menu-TBj04J {
  background-color: transparent;
  height: 32px;
  left: 97px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.buyer-only .select-MHnc7j {
  background-color: var(--white);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.buyer-only .x30-rEssV2 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.buyer-only .filter-dropdown-menu-xjy3pd {
  background-color: transparent;
  height: 32px;
  left: 179px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 18px;
}

.buyer-only .select-oL8mc5 {
  background-color: var(--white);
  border-radius: 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 160px;
}

.buyer-only .x-b6Easy {
  background-color: transparent;
  height: auto;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: auto;
}

.buyer-only .filter-dropdown-menu-IqF6xX {
  background-color: transparent;
  height: 32px;
  left: 199px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 160px;
}

.buyer-only .frame-1196-51Yg2r {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 177px;
}

.buyer-only .filter-dropdown-menu-LG6yx5 {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 98px;
}

.buyer-only .select-YLpQMI {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 98px;
}

.buyer-only .x100000-cmB1UD {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 82px;
}

.buyer-only .filter-dropdown-menu-szhu6c {
  background-color: transparent;
  height: 32px;
  left: 97px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.buyer-only .select-jaedZX {
  background-color: var(--white);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.buyer-only .x200-EU31Fu {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.buyer-only .frame-1199-Q63Rva {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 77px;
  width: 177px;
}

.buyer-only .closing-costs-Vg72Tx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.buyer-only .frame-1196-Vg72Tx {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 177px;
}

.buyer-only .filter-dropdown-menu-I0vuAh {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 98px;
}

.buyer-only .select-cZWvGO {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 98px;
}

.buyer-only .x9600-Dj7TeX {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 82px;
}

.buyer-only .filter-dropdown-menu-tDIw19 {
  background-color: transparent;
  height: 32px;
  left: 97px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.buyer-only .select-DxagrD {
  background-color: var(--white);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.buyer-only .x32-kTDEEG {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.buyer-only .frame-1202-hg4DgP {
  background-color: transparent;
  height: 329px;
  left: 0px;
  position: absolute;
  top: 375px;
  width: 584px;
}

.buyer-only .frame-1194-S3aIZo {
  background-color: transparent;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 580px;
}

.buyer-only .frame-1193-l3AwhA {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 137px;
}

.buyer-only .buying-solutions-nZGVYi {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 7px;
  width: auto;
}

.buyer-only .line-3-l3AwhA {
  background-color: transparent;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 580px;
}

.buyer-only .frame-1212-S3aIZo {
  background-color: transparent;
  height: 174px;
  left: 0px;
  position: absolute;
  top: 72px;
  width: 584px;
}

.buyer-only .frame-1206-6Hznvx {
  background-color: var(--athens-gray);
  border-radius: 10px;
  height: 171px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 184px;
}

.buyer-only .mortgage-financing-uWNuJ9 {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.buyer-only .traditional-open-mar-uWNuJ9 {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 46px;
  width: 160px;
}

.buyer-only .frame-1200-uWNuJ9 {
  background-color: transparent;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 127px;
  width: 159px;
}

.buyer-only .frame-1196-4BHdxj {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 159px;
}

.buyer-only .filter-dropdown-menu-4PR7QH {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.buyer-only .select-S9Jxjg {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.buyer-only .hide-ncGsYu {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.buyer-only .filter-dropdown-menu-EU9alx {
  background-color: transparent;
  height: 32px;
  left: 79px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.buyer-only .select-IfM9JX {
  background-color: var(--quill-gray-2);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.buyer-only .include-MhxYkj {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 56px;
}

.buyer-only .frame-1207-6Hznvx {
  background-color: var(--athens-gray);
  border-radius: 10px;
  height: 171px;
  left: 200px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 184px;
}

.buyer-only .cash-offer-ARAjjf {
  background-color: transparent;
  height: auto;
  left: 56px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.buyer-only .turn-your-offer-into-ARAjjf {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 46px;
  width: 160px;
}

.buyer-only .toggle-ARAjjf {
  background-color: transparent;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 127px;
  width: 159px;
}

.buyer-only .frame-1196-ELX7ac {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 159px;
}

.buyer-only .filter-dropdown-menu-OajkKN {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.buyer-only .select-VaKLNr {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.buyer-only .hide-MIwCOx {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.buyer-only .filter-dropdown-menu-RC08m5 {
  background-color: transparent;
  box-shadow: 0px 1px 3px #0000001a , 0px 1px 2px #0000000f;
  height: 32px;
  left: 79px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.buyer-only .select-85ddKg {
  background-color: var(--salem-2);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.buyer-only .include-FFIcL1 {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 56px;
}

.buyer-only .frame-1208-6Hznvx {
  background-color: var(--athens-gray);
  border-radius: 10px;
  height: 174px;
  left: 400px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 184px;
}

.buyer-only .homeownership-accelerator-ZTUfA9 {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: auto;
}

.buyer-only .use-your-rent-paymen-ZTUfA9 {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 65px;
  width: 160px;
}

.buyer-only .frame-1201-ZTUfA9 {
  background-color: transparent;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 130px;
  width: 159px;
}

.buyer-only .toggle-GQWZOQ {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 159px;
}

.buyer-only .frame-1196-CfGEXk {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 159px;
}

.buyer-only .filter-dropdown-menu-2eXsQU {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.buyer-only .select-wKiTGN {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.buyer-only .hide-xm5dxd {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.buyer-only .filter-dropdown-menu-oMWNHp {
  background-color: transparent;
  box-shadow: 0px 1px 3px #0000001a , 0px 1px 2px #0000000f;
  height: 32px;
  left: 79px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.buyer-only .select-cjS8gJ {
  background-color: var(--salem-2);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.buyer-only .include-KUwNuJ {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 56px;
}

.buyer-only .frame-1214-S3aIZo {
  background-color: transparent;
  height: 51px;
  left: 0px;
  position: absolute;
  top: 278px;
  width: 584px;
}

.buyer-only .rectangle-307-G6tssS {
  background-color: transparent;
  height: 35px;
  left: 0px;
  position: absolute;
  top: 16px;
  width: 164px;
}

.buyer-only .frame-1213-G6tssS {
  background-color: var(--azure);
  border-radius: 6px;
  height: 35px;
  left: 164px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 257px;
}

.buyer-only .add-to-presentation-8EX0jX {
  background-color: transparent;
  height: auto;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}

.buyer-only .rectangle-306-G6tssS {
  background-color: transparent;
  height: 35px;
  left: 420px;
  position: absolute;
  top: 16px;
  width: 164px;
}
