/* screen - demo-cma-zavvie-both-buyer-1 */

.demo-cma-zavvie-both-buyer-1 {
  background-color: transparent;
  height: 1134px;
  overflow-x: hidden;
  position: relative;
  width: 1512px;
}

.demo-cma-zavvie-both-buyer-1 .rectangle-1-iIayXC {
  background-color: var(--cape-cod);
  height: 72px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1512px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1216-iIayXC {
  background-color: transparent;
  height: 1062px;
  left: 0px;
  position: absolute;
  top: 72px;
  width: 1512px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1215-wVigmI {
  background-color: var(--black-2);
  height: 1062px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 882px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1215-N7aM0h {
  background-color: transparent;
  height: 1062px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 882px;
}

.demo-cma-zavvie-both-buyer-1 .rectangle-2-N7aM0h {
  background-color: var(--quill-gray);
  height: 88px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 882px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1204-wVigmI {
  background-color: var(--white);
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0px 1px 3px #0000001a , 0px 1px 2px #0000000f;
  height: 1062px;
  left: 876px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 636px;
}

.demo-cma-zavvie-both-buyer-1 .frame-13-eZnLTb {
  background-color: transparent;
  height: 19px;
  left: 24px;
  position: absolute;
  top: 24px;
  width: 588px;
}

.demo-cma-zavvie-both-buyer-1 .back-to-selling-solutions-hhxEBQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.demo-cma-zavvie-both-buyer-1 .icon-close-hhxEBQ {
  background-color: transparent;
  height: 16px;
  left: 572px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 16px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1205-eZnLTb {
  background-color: transparent;
  height: 33px;
  left: 24px;
  position: absolute;
  top: 75px;
  width: 588px;
}

.demo-cma-zavvie-both-buyer-1 .get-buying-estimates-from-V16Ixe {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.demo-cma-zavvie-both-buyer-1 .vector-V16Ixe {
  background-color: transparent;
  height: 32px;
  left: 310px;
  position: absolute;
  top: 0px;
  width: 92px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1203-eZnLTb {
  background-color: transparent;
  height: 704px;
  left: 28px;
  position: absolute;
  top: 140px;
  width: 584px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1192-xqGbGK {
  background-color: transparent;
  height: 117px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 580px;
}

.demo-cma-zavvie-both-buyer-1 .frame-15-xEfnob {
  background-color: transparent;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 580px;
}

.demo-cma-zavvie-both-buyer-1 .frame-14-2xCuvd {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 234px;
}

.demo-cma-zavvie-both-buyer-1 .buying-in-boulder-county-co-fcLNuX {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}

.demo-cma-zavvie-both-buyer-1 .line-2-2xCuvd {
  background-color: transparent;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 580px;
}

.demo-cma-zavvie-both-buyer-1 .frame-17-xEfnob {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 64px;
  width: 160px;
}

.demo-cma-zavvie-both-buyer-1 .home-purchase-price-1HM41F {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.demo-cma-zavvie-both-buyer-1 .frame-1252-1HM41F {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 342px;
}

.demo-cma-zavvie-both-buyer-1 .filter-dropdown-menu-cyBq6t {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 160px;
}

.demo-cma-zavvie-both-buyer-1 .select-vrHQiQ {
  background-color: var(--white);
  border-radius: 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 160px;
}

.demo-cma-zavvie-both-buyer-1 .x400000-aYgZGx {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: auto;
}

.demo-cma-zavvie-both-buyer-1 .filter-dropdown-menu-zL7JWY {
  background-color: transparent;
  height: 32px;
  left: 162px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 18px;
}

.demo-cma-zavvie-both-buyer-1 .select-zpH1au {
  background-color: var(--white);
  border-radius: 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 160px;
}

.demo-cma-zavvie-both-buyer-1 .x-9w2lwl {
  background-color: transparent;
  height: auto;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: auto;
}

.demo-cma-zavvie-both-buyer-1 .filter-dropdown-menu-TQ9G4O {
  background-color: transparent;
  height: 32px;
  left: 182px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 160px;
}

.demo-cma-zavvie-both-buyer-1 .select-C5DFmq {
  background-color: var(--white);
  border-radius: 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 160px;
}

.demo-cma-zavvie-both-buyer-1 .x500000-bHhYO6 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: auto;
}

.demo-cma-zavvie-both-buyer-1 .frame-1201-xqGbGK {
  background-color: transparent;
  height: 194px;
  left: 0px;
  position: absolute;
  top: 149px;
  width: 580px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1194-e8Aux2 {
  background-color: transparent;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 580px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1193-Z1xQtX {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 51px;
}

.demo-cma-zavvie-both-buyer-1 .fees-8xOzr0 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 7px;
  width: auto;
}

.demo-cma-zavvie-both-buyer-1 .line-3-Z1xQtX {
  background-color: transparent;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 580px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1200-e8Aux2 {
  background-color: transparent;
  height: 130px;
  left: 0px;
  position: absolute;
  top: 64px;
  width: 383px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1197-xjjtcD {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 383px;
}

.demo-cma-zavvie-both-buyer-1 .down-payment-osVXRb {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.demo-cma-zavvie-both-buyer-1 .frame-1252-osVXRb {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 383px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1196-x8hZ91 {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 177px;
}

.demo-cma-zavvie-both-buyer-1 .filter-dropdown-menu-TpBiOu {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 98px;
}

.demo-cma-zavvie-both-buyer-1 .select-u3ztLq {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 98px;
}

.demo-cma-zavvie-both-buyer-1 .x12000-qEZxAF {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 82px;
}

.demo-cma-zavvie-both-buyer-1 .filter-dropdown-menu-vtNgdZ {
  background-color: transparent;
  height: 32px;
  left: 97px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.demo-cma-zavvie-both-buyer-1 .select-rOtjHq {
  background-color: var(--white);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.demo-cma-zavvie-both-buyer-1 .x30-xmY85l {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.demo-cma-zavvie-both-buyer-1 .filter-dropdown-menu-x8hZ91 {
  background-color: transparent;
  height: 32px;
  left: 179px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 18px;
}

.demo-cma-zavvie-both-buyer-1 .select-k86KYk {
  background-color: var(--white);
  border-radius: 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 160px;
}

.demo-cma-zavvie-both-buyer-1 .x-gIHVoz {
  background-color: transparent;
  height: auto;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: auto;
}

.demo-cma-zavvie-both-buyer-1 .filter-dropdown-menu-mxYVx2 {
  background-color: transparent;
  height: 32px;
  left: 199px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 160px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1196-AFcatc {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 177px;
}

.demo-cma-zavvie-both-buyer-1 .filter-dropdown-menu-7CwybX {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 98px;
}

.demo-cma-zavvie-both-buyer-1 .select-83H3Vo {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 98px;
}

.demo-cma-zavvie-both-buyer-1 .x100000-tDb59L {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 82px;
}

.demo-cma-zavvie-both-buyer-1 .filter-dropdown-menu-xkn70X {
  background-color: transparent;
  height: 32px;
  left: 97px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.demo-cma-zavvie-both-buyer-1 .select-IGLaqE {
  background-color: var(--white);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.demo-cma-zavvie-both-buyer-1 .x200-JGwjvp {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1199-xjjtcD {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 77px;
  width: 177px;
}

.demo-cma-zavvie-both-buyer-1 .closing-costs-CIDiJP {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.demo-cma-zavvie-both-buyer-1 .frame-1196-CIDiJP {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 177px;
}

.demo-cma-zavvie-both-buyer-1 .filter-dropdown-menu-k8T4VG {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 98px;
}

.demo-cma-zavvie-both-buyer-1 .select-uuICxL {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 98px;
}

.demo-cma-zavvie-both-buyer-1 .x9600-aXOLmg {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 82px;
}

.demo-cma-zavvie-both-buyer-1 .filter-dropdown-menu-i5v1ER {
  background-color: transparent;
  height: 32px;
  left: 97px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.demo-cma-zavvie-both-buyer-1 .select-xSBbtK {
  background-color: var(--white);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.demo-cma-zavvie-both-buyer-1 .x32-J4d8An {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1202-xqGbGK {
  background-color: transparent;
  height: 329px;
  left: 0px;
  position: absolute;
  top: 375px;
  width: 584px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1194-R39k4r {
  background-color: transparent;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 580px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1193-k3xebX {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 137px;
}

.demo-cma-zavvie-both-buyer-1 .buying-solutions-3ux8yL {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 7px;
  width: auto;
}

.demo-cma-zavvie-both-buyer-1 .line-3-k3xebX {
  background-color: transparent;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 580px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1212-R39k4r {
  background-color: transparent;
  height: 174px;
  left: 0px;
  position: absolute;
  top: 72px;
  width: 584px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1206-bYfV4w {
  background-color: var(--athens-gray);
  border-radius: 10px;
  height: 171px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 184px;
}

.demo-cma-zavvie-both-buyer-1 .mortgage-financing-Uie3Za {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.demo-cma-zavvie-both-buyer-1 .traditional-open-mar-Uie3Za {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 46px;
  width: 160px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1200-Uie3Za {
  background-color: transparent;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 127px;
  width: 159px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1196-0tl0LW {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 159px;
}

.demo-cma-zavvie-both-buyer-1 .filter-dropdown-menu-en4r5F {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.demo-cma-zavvie-both-buyer-1 .select-Rtvdns {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.demo-cma-zavvie-both-buyer-1 .hide-0wSAue {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.demo-cma-zavvie-both-buyer-1 .filter-dropdown-menu-9WYYeJ {
  background-color: transparent;
  height: 32px;
  left: 79px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.demo-cma-zavvie-both-buyer-1 .select-VBbU3s {
  background-color: var(--quill-gray-2);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.demo-cma-zavvie-both-buyer-1 .include-Sy80o9 {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 56px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1207-bYfV4w {
  background-color: var(--athens-gray);
  border-radius: 10px;
  height: 171px;
  left: 200px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 184px;
}

.demo-cma-zavvie-both-buyer-1 .cash-offer-0rzl2w {
  background-color: transparent;
  height: auto;
  left: 56px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.demo-cma-zavvie-both-buyer-1 .turn-your-offer-into-0rzl2w {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 46px;
  width: 160px;
}

.demo-cma-zavvie-both-buyer-1 .toggle-0rzl2w {
  background-color: transparent;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 127px;
  width: 159px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1196-tWkfxi {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 159px;
}

.demo-cma-zavvie-both-buyer-1 .filter-dropdown-menu-xR6WKL {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.demo-cma-zavvie-both-buyer-1 .select-R5JvFY {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.demo-cma-zavvie-both-buyer-1 .hide-jMQhRI {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.demo-cma-zavvie-both-buyer-1 .filter-dropdown-menu-1ZjJ1N {
  background-color: transparent;
  box-shadow: 0px 1px 3px #0000001a , 0px 1px 2px #0000000f;
  height: 32px;
  left: 79px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.demo-cma-zavvie-both-buyer-1 .select-X3n3EV {
  background-color: var(--salem-2);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.demo-cma-zavvie-both-buyer-1 .include-ymEhEf {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 56px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1208-bYfV4w {
  background-color: var(--athens-gray);
  border-radius: 10px;
  height: 174px;
  left: 400px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 184px;
}

.demo-cma-zavvie-both-buyer-1 .homeownership-accelerator-jhpAV2 {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: auto;
}

.demo-cma-zavvie-both-buyer-1 .use-your-rent-paymen-jhpAV2 {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 65px;
  width: 160px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1201-jhpAV2 {
  background-color: transparent;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 130px;
  width: 159px;
}

.demo-cma-zavvie-both-buyer-1 .toggle-nYxq32 {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 159px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1196-neiCzs {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 159px;
}

.demo-cma-zavvie-both-buyer-1 .filter-dropdown-menu-PTpKxc {
  background-color: transparent;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.demo-cma-zavvie-both-buyer-1 .select-J2Jijk {
  background-color: var(--white);
  border-radius: 6px 0px 0px 6px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.demo-cma-zavvie-both-buyer-1 .hide-Rgm1qh {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 64px;
}

.demo-cma-zavvie-both-buyer-1 .filter-dropdown-menu-bCnnL9 {
  background-color: transparent;
  box-shadow: 0px 1px 3px #0000001a , 0px 1px 2px #0000000f;
  height: 32px;
  left: 79px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.demo-cma-zavvie-both-buyer-1 .select-lsNe9r {
  background-color: var(--salem-2);
  border-radius: 0px 6px 6px 0px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 80px;
}

.demo-cma-zavvie-both-buyer-1 .include-QwDSvk {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 56px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1215-R39k4r {
  background-color: transparent;
  height: 51px;
  left: 0px;
  position: absolute;
  top: 278px;
  width: 584px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1253-MGiy1X {
  background-color: transparent;
  height: 35px;
  left: 180px;
  position: relative;
  top: 16px;
  width: 225px;
}

.demo-cma-zavvie-both-buyer-1 .frame-1213-EoEMz2 {
  background-color: var(--azure);
  border-radius: 6px;
  height: 35px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 225px;
}

.demo-cma-zavvie-both-buyer-1 .add-to-presentation-vWlbf3 {
  background-color: transparent;
  height: 19px;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}
