/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/62a75fe833afde4c204a953d.62a75fe82fa0b99f4e348857.vSbf6La.hcp.png");
@font-face {
  font-family: "Avenir-Heavy";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AvenirLTStd-Heavy.otf") format("opentype");
}
@font-face {
  font-family: "Avenir-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/AvenirLTStd-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Avenir-Roman";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Avenir.ttc");
}
@font-face {
  font-family: "Avenir-Book";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AvenirArabic-Book.otf") format("opentype");
}
@font-face {
  font-family: "Avenir-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Avenir-Light.otf") format("opentype");
}
@font-face {
  font-family: "Tahoma-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Tahoma.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Avenir-Roman.otf") format("opentype");
}


.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
