/* screen - zavvie-buying-options-report */

.zavvie-buying-options-report {
  background-color: var(--white);
  height: 1347.29px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 624.0px;
}

.zavvie-buying-options-report .frame-1235-EMkVDE {
  background-color: transparent;
  height: 69px;
  left: 16px;
  position: absolute;
  top: 24px;
  width: 592px;
}

.zavvie-buying-options-report .frame-1223-OQI1ts {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 592px;
}

.zavvie-buying-options-report .sample-logo-Za085G {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 80px;
}

.zavvie-buying-options-report .buying-options-prepared-by-abby-green-Za085G {
  background-color: transparent;
  height: auto;
  left: 478px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: right;
  top: 13px;
  width: auto;
}

.zavvie-buying-options-report .span0-7m35rp {
  color: var(--hunter-green);
  font-family: var(--font-family-avenir-medium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.zavvie-buying-options-report .span1-7m35rp {
  color: var(--chicago);
  font-family: var(--font-family-avenir-light);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
  line-height: 17.5px;
}

.zavvie-buying-options-report .line-2-OQI1ts {
  background-color: transparent;
  height: 3px;
  left: -0px;
  position: absolute;
  top: 68px;
  width: 592px;
}

.zavvie-buying-options-report .frame-1240-EMkVDE {
  background-color: transparent;
  height: 16px;
  left: 16px;
  position: absolute;
  top: 117px;
  width: 592px;
}

.zavvie-buying-options-report .x3475-bear-creek-dr-boulder-co-80301-LmkWNO {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .frame-1238-LmkWNO {
  background-color: transparent;
  height: 16px;
  left: 490px;
  position: absolute;
  top: 0px;
  width: 102px;
}

.zavvie-buying-options-report .powered-by-dqWuSE {
  background-color: transparent;
  color: var(--chicago);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1px;
  width: auto;
}

.zavvie-buying-options-report .vector-dqWuSE {
  background-color: transparent;
  height: 16px;
  left: 56px;
  position: absolute;
  top: 0px;
  width: 46px;
}

.zavvie-buying-options-report .frame-1248-EMkVDE {
  background-color: transparent;
  height: 331px;
  left: 33px;
  position: absolute;
  top: 157px;
  width: 558px;
}

.zavvie-buying-options-report .frame-1237-28vPPx {
  background-color: var(--athens-gray-2);
  border-radius: 6px 6px 0px 0px;
  height: 28px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 130px;
}

.zavvie-buying-options-report .mortgage-financing-QYlPyj {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  width: auto;
}

.zavvie-buying-options-report .frame-1244-28vPPx {
  background-color: var(--athens-gray-2);
  height: 136px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 28px;
  width: 558px;
}

.zavvie-buying-options-report .frame-1217-vrgSoh {
  background-color: transparent;
  height: 37px;
  left: 210px;
  position: absolute;
  top: 8px;
  width: 137px;
}

.zavvie-buying-options-report .home-purchase-value-Q75rp6 {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .x400000-500000-Q75rp6 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: auto;
}

.zavvie-buying-options-report .frame-1243-vrgSoh {
  background-color: transparent;
  height: 67px;
  left: 86px;
  position: absolute;
  top: 61px;
  width: 387px;
}

.zavvie-buying-options-report .frame-1242-kHdZxb {
  background-color: transparent;
  height: 67px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.zavvie-buying-options-report .traditional-open-mar-XRBFXQ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 210px;
}

.zavvie-buying-options-report .often-the-most-cost-XRBFXQ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  width: 197px;
}

.zavvie-buying-options-report .many-options-availab-XRBFXQ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 29px;
  width: 197px;
}

.zavvie-buying-options-report .best-fit-for-buyers-XRBFXQ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 55px;
  width: auto;
}

.zavvie-buying-options-report .span0-fmVBIJ {
}

.zavvie-buying-options-report .span1-fmVBIJ {
}

.zavvie-buying-options-report .frame-1241-kHdZxb {
  background-color: transparent;
  height: 56px;
  left: 254px;
  position: absolute;
  top: 6px;
  width: 133px;
}

.zavvie-buying-options-report .eligibility-what-you-need-to-qualify-hwxeaP {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .credit-score-greater-than-620-hwxeaP {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  width: auto;
}

.zavvie-buying-options-report .x3-down-payment-hwxeaP {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 29px;
  width: auto;
}

.zavvie-buying-options-report .debt-to-income-ratio-45-hwxeaP {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 44px;
  width: auto;
}

.zavvie-buying-options-report .frame-1247-28vPPx {
  background-color: var(--white);
  height: 114px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 164px;
  width: 558px;
}

.zavvie-buying-options-report .frame-1227-xTz13V {
  background-color: transparent;
  height: 28px;
  left: 41px;
  position: absolute;
  top: 43px;
  width: 195px;
}

.zavvie-buying-options-report .frame-1225-va0u5m {
  background-color: transparent;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 108px;
}

.zavvie-buying-options-report .down-payment-30-20-8CU6xQ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .closing-costs-8CU6xQ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.zavvie-buying-options-report .frame-1226-va0u5m {
  background-color: transparent;
  height: 28px;
  left: 134px;
  position: absolute;
  top: 0px;
  width: 61px;
}

.zavvie-buying-options-report .x12000-100000-kOyxt8 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .x3560-6450-kOyxt8 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.zavvie-buying-options-report .frame-1246-xTz13V {
  background-color: transparent;
  height: 98px;
  left: 364px;
  position: absolute;
  top: 8px;
  width: 117px;
}

.zavvie-buying-options-report .frame-1245-BbixWl {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.zavvie-buying-options-report .mortgage-principal-interest-9BAxw1 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .x1592-1728-9BAxw1 {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  width: auto;
}

.zavvie-buying-options-report .frame-1227-BbixWl {
  background-color: transparent;
  height: 62px;
  left: 7px;
  position: absolute;
  top: 36px;
  width: 103px;
}

.zavvie-buying-options-report .frame-1225-xpmP2g {
  background-color: transparent;
  height: 62px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 49px;
}

.zavvie-buying-options-report .taxes-QLF9nk {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .insurance-QLF9nk {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.zavvie-buying-options-report .utilities-QLF9nk {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  width: auto;
}

.zavvie-buying-options-report .maintenance-QLF9nk {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: auto;
}

.zavvie-buying-options-report .frame-1226-xpmP2g {
  background-color: transparent;
  height: 62px;
  left: 62px;
  position: absolute;
  top: 0px;
  width: 41px;
}

.zavvie-buying-options-report .x203-592-aW3pal {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .x88-160-aW3pal {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.zavvie-buying-options-report .x96-170-aW3pal {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  width: auto;
}

.zavvie-buying-options-report .x148-235-aW3pal {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: auto;
}

.zavvie-buying-options-report .frame-1224-28vPPx {
  background-color: var(--periwinkle-2);
  height: 53px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 278px;
  width: 558px;
}

.zavvie-buying-options-report .frame-1218-PbgLg7 {
  background-color: transparent;
  height: 37px;
  left: 80px;
  position: absolute;
  top: 8px;
  width: 121px;
}

.zavvie-buying-options-report .costs-of-home-purchase-Vo5ZDO {
  background-color: transparent;
  height: auto;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .x15560-106450-Vo5ZDO {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: auto;
}

.zavvie-buying-options-report .frame-1219-PbgLg7 {
  background-color: transparent;
  height: 37px;
  left: 374px;
  position: absolute;
  top: 8px;
  width: 104px;
}

.zavvie-buying-options-report .monthly-costs-zJWXxh {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .x2127-2885-zJWXxh {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: auto;
}

.zavvie-buying-options-report .frame-1249-EMkVDE {
  background-color: transparent;
  height: 342px;
  left: 33px;
  position: absolute;
  top: 512px;
  width: 558px;
}

.zavvie-buying-options-report .frame-1237-r9ofoY {
  background-color: var(--athens-gray-2);
  border-radius: 6px 6px 0px 0px;
  height: 28px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 77px;
}

.zavvie-buying-options-report .cash-offer-JqtFHl {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  width: auto;
}

.zavvie-buying-options-report .frame-1244-r9ofoY {
  background-color: var(--athens-gray-2);
  height: 147px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 28px;
  width: 558px;
}

.zavvie-buying-options-report .frame-1217-AVe4nG {
  background-color: transparent;
  height: 37px;
  left: 210px;
  position: absolute;
  top: 8px;
  width: 137px;
}

.zavvie-buying-options-report .home-purchase-value-I4vFw7 {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .x400000-500000-I4vFw7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: auto;
}

.zavvie-buying-options-report .frame-1251-AVe4nG {
  background-color: transparent;
  height: 78px;
  left: 72px;
  position: absolute;
  top: 61px;
  width: 413px;
}

.zavvie-buying-options-report .frame-1243-UDPS5D {
  background-color: transparent;
  height: 78px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 198px;
}

.zavvie-buying-options-report .frame-1242-srUx54 {
  background-color: transparent;
  height: 78px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 198px;
}

.zavvie-buying-options-report .turn-your-offer-into-tU8Be9 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 197px;
}

.zavvie-buying-options-report .a-great-solution-for-tU8Be9 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  width: 197px;
}

.zavvie-buying-options-report .can-help-buyers-purc-tU8Be9 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 40px;
  width: 197px;
}

.zavvie-buying-options-report .best-fit-for-any-buy-tU8Be9 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 55px;
  width: 198px;
}

.zavvie-buying-options-report .span0-4yznRY {
}

.zavvie-buying-options-report .span1-4yznRY {
}

.zavvie-buying-options-report .frame-1241-UDPS5D {
  background-color: transparent;
  height: 56px;
  left: 242px;
  position: absolute;
  top: 0px;
  width: 171px;
}

.zavvie-buying-options-report .eligibility-what-you-need-to-qualify-NzzIvP {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .minimum-700-credit-score-NzzIvP {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  width: auto;
}

.zavvie-buying-options-report .loan-pre-approval-NzzIvP {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 29px;
  width: auto;
}

.zavvie-buying-options-report .deposit-of-25-of-new-home-purchase-price-NzzIvP {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 44px;
  width: auto;
}

.zavvie-buying-options-report .frame-1247-r9ofoY {
  background-color: var(--white);
  height: 114px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 175px;
  width: 558px;
}

.zavvie-buying-options-report .frame-1227-x1kQu5 {
  background-color: transparent;
  height: 45px;
  left: 38px;
  position: absolute;
  top: 34px;
  width: 200px;
}

.zavvie-buying-options-report .frame-1225-fxxVtY {
  background-color: transparent;
  height: 45px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 108px;
}

.zavvie-buying-options-report .down-payment-50-20-JefvHi {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .closing-costs-JefvHi {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.zavvie-buying-options-report .service-fee-JefvHi {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  width: auto;
}

.zavvie-buying-options-report .frame-1226-fxxVtY {
  background-color: transparent;
  height: 45px;
  left: 134px;
  position: absolute;
  top: 0px;
  width: 66px;
}

.zavvie-buying-options-report .x20000-100000-7ZKKn5 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .x3560-6450-7ZKKn5 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.zavvie-buying-options-report .x4000-5000-7ZKKn5 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  width: auto;
}

.zavvie-buying-options-report .frame-1246-x1kQu5 {
  background-color: transparent;
  height: 98px;
  left: 366px;
  position: absolute;
  top: 8px;
  width: 117px;
}

.zavvie-buying-options-report .frame-1245-9g82xM {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.zavvie-buying-options-report .mortgage-principal-interest-je7pI6 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .x1559-1728-je7pI6 {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  width: auto;
}

.zavvie-buying-options-report .frame-1227-9g82xM {
  background-color: transparent;
  height: 62px;
  left: 7px;
  position: absolute;
  top: 36px;
  width: 103px;
}

.zavvie-buying-options-report .frame-1225-I8yy9q {
  background-color: transparent;
  height: 62px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 49px;
}

.zavvie-buying-options-report .taxes-jbecwx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .insurance-jbecwx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.zavvie-buying-options-report .utilities-jbecwx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  width: auto;
}

.zavvie-buying-options-report .maintenance-jbecwx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: auto;
}

.zavvie-buying-options-report .frame-1226-I8yy9q {
  background-color: transparent;
  height: 62px;
  left: 62px;
  position: absolute;
  top: 0px;
  width: 41px;
}

.zavvie-buying-options-report .x203-592-qyppHg {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .x95-160-qyppHg {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.zavvie-buying-options-report .x96-170-qyppHg {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  width: auto;
}

.zavvie-buying-options-report .x148-235-qyppHg {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: auto;
}

.zavvie-buying-options-report .frame-1224-r9ofoY {
  background-color: var(--periwinkle-2);
  height: 53px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 289px;
  width: 558px;
}

.zavvie-buying-options-report .frame-1218-OwQsdL {
  background-color: transparent;
  height: 37px;
  left: 80px;
  position: absolute;
  top: 8px;
  width: 129px;
}

.zavvie-buying-options-report .costs-of-home-purchase-dOkWz6 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .x27560-111450-dOkWz6 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: auto;
}

.zavvie-buying-options-report .frame-1219-OwQsdL {
  background-color: transparent;
  height: 37px;
  left: 374px;
  position: absolute;
  top: 8px;
  width: 104px;
}

.zavvie-buying-options-report .monthly-costs-HTVpda {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .x2101-2885-HTVpda {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: auto;
}

.zavvie-buying-options-report .frame-1250-EMkVDE {
  background-color: transparent;
  height: 386px;
  left: 33px;
  position: absolute;
  top: 878px;
  width: 558px;
}

.zavvie-buying-options-report .frame-1237-EfnMPh {
  background-color: var(--athens-gray-2);
  border-radius: 6px 6px 0px 0px;
  height: 28px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 177px;
}

.zavvie-buying-options-report .homeownership-accelerator-E0E9mf {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  width: auto;
}

.zavvie-buying-options-report .frame-1244-EfnMPh {
  background-color: var(--athens-gray-2);
  height: 155px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 28px;
  width: 558px;
}

.zavvie-buying-options-report .frame-1217-PtFVXx {
  background-color: transparent;
  height: 37px;
  left: 210px;
  position: absolute;
  top: 8px;
  width: 137px;
}

.zavvie-buying-options-report .home-purchase-value-Tm1siW {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .x400000-500000-Tm1siW {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: auto;
}

.zavvie-buying-options-report .frame-1251-PtFVXx {
  background-color: transparent;
  height: 86px;
  left: 92px;
  position: absolute;
  top: 61px;
  width: 375px;
}

.zavvie-buying-options-report .frame-1243-LPqasx {
  background-color: transparent;
  height: 85px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 198px;
}

.zavvie-buying-options-report .frame-1242-eumAzh {
  background-color: transparent;
  height: 85px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 198px;
}

.zavvie-buying-options-report .use-your-rent-paymen-dC9rC7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 197px;
}

.zavvie-buying-options-report .creates-a-path-to-ho-dC9rC7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: 197px;
}

.zavvie-buying-options-report .best-fit-for-a-poten-dC9rC7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 62px;
  width: 198px;
}

.zavvie-buying-options-report .span0-xeQOnK {
}

.zavvie-buying-options-report .span1-xeQOnK {
}

.zavvie-buying-options-report .frame-1241-LPqasx {
  background-color: transparent;
  height: 86px;
  left: 242px;
  position: absolute;
  top: 0px;
  width: 133px;
}

.zavvie-buying-options-report .eligibility-what-you-need-to-qualify-eJriMK {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .fico-score-of-at-least-550-eJriMK {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  width: auto;
}

.zavvie-buying-options-report .x2500-monthly-income-eJriMK {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 29px;
  width: auto;
}

.zavvie-buying-options-report .x2-months-verifiable-income-eJriMK {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 44px;
  width: auto;
}

.zavvie-buying-options-report .x2000-in-bank-eJriMK {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 59px;
  width: auto;
}

.zavvie-buying-options-report .background-check-eJriMK {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 74px;
  width: auto;
}

.zavvie-buying-options-report .frame-1247-EfnMPh {
  background-color: var(--white);
  height: 150px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 183px;
  width: 558px;
}

.zavvie-buying-options-report .frame-1227-IWXcxF {
  background-color: transparent;
  height: 45px;
  left: 59px;
  position: absolute;
  top: 52px;
  width: 182px;
}

.zavvie-buying-options-report .frame-1225-beY5xo {
  background-color: transparent;
  height: 45px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 103px;
}

.zavvie-buying-options-report .down-payment-00-50-wkcpAI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .closing-costs-wkcpAI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.zavvie-buying-options-report .service-fee-wkcpAI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  width: auto;
}

.zavvie-buying-options-report .frame-1226-beY5xo {
  background-color: transparent;
  height: 45px;
  left: 129px;
  position: absolute;
  top: 0px;
  width: 53px;
}

.zavvie-buying-options-report .x0-25000-0bibFW {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .x3560-6450-0bibFW {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.zavvie-buying-options-report .x0-0-0bibFW {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  width: auto;
}

.zavvie-buying-options-report .frame-1246-IWXcxF {
  background-color: transparent;
  height: 134px;
  left: 369px;
  position: absolute;
  top: 8px;
  width: 94px;
}

.zavvie-buying-options-report .frame-1245-OxlKxR {
  background-color: transparent;
  height: 24px;
  left: 20px;
  position: absolute;
  top: 0px;
  width: 54px;
}

.zavvie-buying-options-report .lease-amount-zHurhC {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .x2667-4354-zHurhC {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  width: auto;
}

.zavvie-buying-options-report .frame-1246-OxlKxR {
  background-color: transparent;
  height: 24px;
  left: 10px;
  position: absolute;
  top: 36px;
  width: 73px;
}

.zavvie-buying-options-report .premium-for-equity-OeHapx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .x10-10-OeHapx {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  width: auto;
}

.zavvie-buying-options-report .frame-1227-OxlKxR {
  background-color: transparent;
  height: 62px;
  left: 0px;
  position: absolute;
  top: 72px;
  width: 94px;
}

.zavvie-buying-options-report .frame-1225-YZlxct {
  background-color: transparent;
  height: 62px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 49px;
}

.zavvie-buying-options-report .taxes-Y8xmfD {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .insurance-Y8xmfD {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.zavvie-buying-options-report .utilities-Y8xmfD {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  width: auto;
}

.zavvie-buying-options-report .maintenance-Y8xmfD {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: auto;
}

.zavvie-buying-options-report .frame-1226-YZlxct {
  background-color: transparent;
  height: 62px;
  left: 62px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.zavvie-buying-options-report .x0-0-wcuZpn {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .x16-43-wcuZpn {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.zavvie-buying-options-report .x14-43-wcuZpn {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  width: auto;
}

.zavvie-buying-options-report .x25-59-wcuZpn {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: auto;
}

.zavvie-buying-options-report .frame-1224-EfnMPh {
  background-color: var(--periwinkle-2);
  height: 53px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 333px;
  width: 558px;
}

.zavvie-buying-options-report .frame-1218-lrGrD3 {
  background-color: transparent;
  height: 37px;
  left: 80px;
  position: absolute;
  top: 8px;
  width: 114px;
}

.zavvie-buying-options-report .costs-of-home-purchase-7HAWQC {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .x3560-31450-7HAWQC {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: auto;
}

.zavvie-buying-options-report .frame-1219-lrGrD3 {
  background-color: transparent;
  height: 37px;
  left: 374px;
  position: absolute;
  top: 8px;
  width: 104px;
}

.zavvie-buying-options-report .monthly-costs-MPBD8Z {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-buying-options-report .x2722-4499-MPBD8Z {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: auto;
}

.zavvie-buying-options-report .frame-1255-EMkVDE {
  background-color: transparent;
  height: 35px;
  left: 16px;
  position: absolute;
  top: 1288px;
  width: 592px;
}

.zavvie-buying-options-report .frame-1214-zNPyhL {
  background-color: var(--azure);
  border-radius: 6px;
  height: 35px;
  left: 383px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 209px;
}

.zavvie-buying-options-report .get-offers-from-zavvie-7xVlQD {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}
