/* screen - zavvie-selling-options-report */

.zavvie-selling-options-report {
  background-color: var(--white);
  height: 958.29px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 624.0px;
}

.zavvie-selling-options-report .frame-1235-Umc8nY {
  background-color: transparent;
  height: 69px;
  left: 16px;
  position: absolute;
  top: 24px;
  width: 592px;
}

.zavvie-selling-options-report .frame-1223-VWejnG {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 592px;
}

.zavvie-selling-options-report .sample-logo-7bCvAJ {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 80px;
}

.zavvie-selling-options-report .selling-options-prepared-by-abby-green-7bCvAJ {
  background-color: transparent;
  height: auto;
  left: 478px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: right;
  top: 13px;
  width: auto;
}

.zavvie-selling-options-report .span0-u1xAsZ {
  color: var(--hunter-green);
  font-family: var(--font-family-avenir-medium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.zavvie-selling-options-report .span1-u1xAsZ {
  color: var(--chicago);
  font-family: var(--font-family-avenir-light);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
  line-height: 17.5px;
}

.zavvie-selling-options-report .line-2-VWejnG {
  background-color: transparent;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 68px;
  width: 592px;
}

.zavvie-selling-options-report .frame-1234-Umc8nY {
  background-color: transparent;
  height: 768px;
  left: 33px;
  position: absolute;
  top: 112px;
  width: 558px;
}

.zavvie-selling-options-report .frame-1239-Y2mmJz {
  background-color: transparent;
  height: 16px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 558px;
}

.zavvie-selling-options-report .x3475-bear-creek-dr-boulder-co-80301-plvjFm {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-selling-options-report .frame-1238-plvjFm {
  background-color: transparent;
  height: 16px;
  left: 456px;
  position: absolute;
  top: 0px;
  width: 102px;
}

.zavvie-selling-options-report .powered-by-xvTxzE {
  background-color: transparent;
  color: var(--chicago);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1px;
  width: auto;
}

.zavvie-selling-options-report .vector-xvTxzE {
  background-color: transparent;
  height: 16px;
  left: 56px;
  position: absolute;
  top: 0px;
  width: 46px;
}

.zavvie-selling-options-report .frame-1233-Y2mmJz {
  background-color: transparent;
  height: 221px;
  left: 0px;
  position: absolute;
  top: 40px;
  width: 558px;
}

.zavvie-selling-options-report .frame-1230-xNDQIY {
  background-color: transparent;
  height: 221px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 558px;
}

.zavvie-selling-options-report .frame-1237-k6A9Ap {
  background-color: var(--athens-gray-2);
  border-radius: 6px 6px 0px 0px;
  height: 28px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 118px;
}

.zavvie-selling-options-report .open-market-sale-zy9emN {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  width: auto;
}

.zavvie-selling-options-report .frame-1229-k6A9Ap {
  background-color: transparent;
  height: 193px;
  left: 0px;
  position: absolute;
  top: 28px;
  width: 558px;
}

.zavvie-selling-options-report .frame-1224-H6XBYq {
  background-color: var(--athens-gray-2);
  height: 53px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 558px;
}

.zavvie-selling-options-report .frame-1217-PC5TwH {
  background-color: transparent;
  height: 37px;
  left: 88px;
  position: absolute;
  top: 8px;
  width: 132px;
}

.zavvie-selling-options-report .estimated-open-market-price-oLcXap {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-selling-options-report .x300000-oLcXap {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: auto;
}

.zavvie-selling-options-report .frame-1218-PC5TwH {
  background-color: transparent;
  height: 37px;
  left: 360px;
  position: absolute;
  top: 8px;
  width: 65px;
}

.zavvie-selling-options-report .cost-of-selling-KoWGhx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-selling-options-report .x27600-KoWGhx {
  background-color: transparent;
  height: auto;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: auto;
}

.zavvie-selling-options-report .frame-1228-H6XBYq {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 61px;
  width: 558px;
}

.zavvie-selling-options-report .frame-1221-VGTxxx {
  background-color: transparent;
  height: 56px;
  left: 59px;
  position: absolute;
  top: 0px;
  width: 203px;
}

.zavvie-selling-options-report .applicable-to-all-properties-b61BxC {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 203px;
}

.zavvie-selling-options-report .in-most-cases-will-m-b61BxC {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 203px;
}

.zavvie-selling-options-report .frame-1222-b61BxC {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 34px;
  width: 203px;
}

.zavvie-selling-options-report .best-fit-for-sellers-N1wfZo {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 188px;
}

.zavvie-selling-options-report .span0-ZtEdvG {
}

.zavvie-selling-options-report .span1-ZtEdvG {
}

.zavvie-selling-options-report .frame-1227-VGTxxx {
  background-color: transparent;
  height: 79px;
  left: 320px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.zavvie-selling-options-report .frame-1225-87FKx9 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 74px;
}

.zavvie-selling-options-report .service-fee-00-T7lBCt {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-selling-options-report .seller-agent-30-T7lBCt {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.zavvie-selling-options-report .buyer-agent-30-T7lBCt {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  width: auto;
}

.zavvie-selling-options-report .prep-repairs-T7lBCt {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: auto;
}

.zavvie-selling-options-report .closing-costs-T7lBCt {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 67px;
  width: auto;
}

.zavvie-selling-options-report .frame-1226-87FKx9 {
  background-color: transparent;
  height: 79px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 23px;
}

.zavvie-selling-options-report .x0-97Xnxd {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-selling-options-report .x9000-97Xnxd {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.zavvie-selling-options-report .x9000-5k0sZt {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  width: auto;
}

.zavvie-selling-options-report .x6000-97Xnxd {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: auto;
}

.zavvie-selling-options-report .x3600-97Xnxd {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 67px;
  width: auto;
}

.zavvie-selling-options-report .frame-1229-H6XBYq {
  background-color: var(--periwinkle);
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 148px;
  width: 558px;
}

.zavvie-selling-options-report .frame-1219-0T3ELV {
  background-color: transparent;
  height: 37px;
  left: 228px;
  position: relative;
  top: 4px;
  width: 93px;
}

.zavvie-selling-options-report .estimated-net-8xqRkx {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-selling-options-report .x272400-8xqRkx {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: auto;
}

.zavvie-selling-options-report .frame-1234-Y2mmJz {
  background-color: transparent;
  height: 238px;
  left: 0px;
  position: absolute;
  top: 285px;
  width: 558px;
}

.zavvie-selling-options-report .frame-1230-FGkqEn {
  background-color: transparent;
  height: 238px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 558px;
}

.zavvie-selling-options-report .frame-1237-kK3ZvU {
  background-color: var(--athens-gray-2);
  border-radius: 6px 6px 0px 0px;
  height: 28px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 102px;
}

.zavvie-selling-options-report .modern-bridge-SOgsCM {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  width: auto;
}

.zavvie-selling-options-report .frame-1229-kK3ZvU {
  background-color: transparent;
  height: 210px;
  left: 0px;
  position: absolute;
  top: 28px;
  width: 558px;
}

.zavvie-selling-options-report .frame-1224-6Fu8Oc {
  background-color: var(--athens-gray-2);
  height: 53px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 558px;
}

.zavvie-selling-options-report .frame-1217-rbU6CW {
  background-color: transparent;
  height: 37px;
  left: 62px;
  position: absolute;
  top: 8px;
  width: 137px;
}

.zavvie-selling-options-report .estimated-bridge-option-price-is6x3S {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-selling-options-report .x295800-is6x3S {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: auto;
}

.zavvie-selling-options-report .frame-1218-rbU6CW {
  background-color: transparent;
  height: 37px;
  left: 339px;
  position: absolute;
  top: 8px;
  width: 121px;
}

.zavvie-selling-options-report .cost-of-selling-rtMxTO {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-selling-options-report .x32539-38425-rtMxTO {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: auto;
}

.zavvie-selling-options-report .frame-1228-6Fu8Oc {
  background-color: transparent;
  height: 96px;
  left: 0px;
  position: absolute;
  top: 61px;
  width: 558px;
}

.zavvie-selling-options-report .frame-1221-YWmThJ {
  background-color: transparent;
  height: 78px;
  left: 22px;
  position: absolute;
  top: 0px;
  width: 205px;
}

.zavvie-selling-options-report .enables-a-seller-who-suMexm {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 197px;
}

.zavvie-selling-options-report .removes-the-complexi-suMexm {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: 197px;
}

.zavvie-selling-options-report .frame-1222-suMexm {
  background-color: transparent;
  height: 22px;
  left: 8px;
  position: absolute;
  top: 56px;
  width: 197px;
}

.zavvie-selling-options-report .best-fit-for-sellers-xjWU7a {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 182px;
}

.zavvie-selling-options-report .span0-7Hu1nK {
}

.zavvie-selling-options-report .span1-7Hu1nK {
}

.zavvie-selling-options-report .frame-1227-YWmThJ {
  background-color: transparent;
  height: 96px;
  left: 305px;
  position: absolute;
  top: 0px;
  width: 199px;
}

.zavvie-selling-options-report .frame-1225-xoqgGa {
  background-color: transparent;
  height: 96px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 116px;
}

.zavvie-selling-options-report .cost-of-home-being-purchased-cuwx6w {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-selling-options-report .service-fee-300-499-cuwx6w {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.zavvie-selling-options-report .seller-agent-30-cuwx6w {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  width: auto;
}

.zavvie-selling-options-report .buyer-agent-225-cuwx6w {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: auto;
}

.zavvie-selling-options-report .prep-repairs-cuwx6w {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 67px;
  width: auto;
}

.zavvie-selling-options-report .closing-costs-cuwx6w {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 84px;
  width: auto;
}

.zavvie-selling-options-report .frame-1226-xoqgGa {
  background-color: transparent;
  height: 96px;
  left: 129px;
  position: absolute;
  top: 0px;
  width: 70px;
}

.zavvie-selling-options-report .x200000-300000-7xlSrS {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-selling-options-report .x8874-14760-7xlSrS {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.zavvie-selling-options-report .x8874-7xlSrS {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  width: auto;
}

.zavvie-selling-options-report .x6656-7xlSrS {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: auto;
}

.zavvie-selling-options-report .x8135-7xlSrS {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 67px;
  width: auto;
}

.zavvie-selling-options-report .x0-7xlSrS {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 84px;
  width: auto;
}

.zavvie-selling-options-report .frame-1230-6Fu8Oc {
  background-color: var(--periwinkle);
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 165px;
  width: 558px;
}

.zavvie-selling-options-report .frame-1219-blkIHl {
  background-color: transparent;
  height: 37px;
  left: 128px;
  position: absolute;
  top: 4px;
  width: 93px;
}

.zavvie-selling-options-report .estimated-net-XPsNmo {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-selling-options-report .x272400-XPsNmo {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: auto;
}

.zavvie-selling-options-report .frame-1220-blkIHl {
  background-color: transparent;
  height: 37px;
  left: 309px;
  position: absolute;
  top: 4px;
  width: 113px;
}

.zavvie-selling-options-report .net-difference-EfR2ao {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-selling-options-report .x9139-15025-EfR2ao {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: auto;
}

.zavvie-selling-options-report .frame-1235-Y2mmJz {
  background-color: transparent;
  height: 221px;
  left: 0px;
  position: absolute;
  top: 547px;
  width: 558px;
}

.zavvie-selling-options-report .frame-1230-MBIwNS {
  background-color: transparent;
  height: 221px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 558px;
}

.zavvie-selling-options-report .frame-1237-Vu99t1 {
  background-color: var(--athens-gray-2);
  border-radius: 6px 6px 0px 0px;
  height: 28px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 120px;
}

.zavvie-selling-options-report .instant-sale-offers-D3B47H {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  width: auto;
}

.zavvie-selling-options-report .frame-1229-Vu99t1 {
  background-color: transparent;
  height: 193px;
  left: 0px;
  position: absolute;
  top: 28px;
  width: 558px;
}

.zavvie-selling-options-report .frame-1224-6nPSye {
  background-color: var(--athens-gray-2);
  height: 53px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 558px;
}

.zavvie-selling-options-report .frame-1217-uEDMcx {
  background-color: transparent;
  height: 37px;
  left: 62px;
  position: absolute;
  top: 8px;
  width: 137px;
}

.zavvie-selling-options-report .estimated-instant-sale-price-Oc5xxk {
  background-color: transparent;
  height: auto;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-selling-options-report .x210000-270000-Oc5xxk {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: auto;
}

.zavvie-selling-options-report .frame-1218-uEDMcx {
  background-color: transparent;
  height: 37px;
  left: 339px;
  position: absolute;
  top: 8px;
  width: 104px;
}

.zavvie-selling-options-report .cost-of-selling-2QRMb2 {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-selling-options-report .x6300-8100-2QRMb2 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: auto;
}

.zavvie-selling-options-report .frame-1228-6nPSye {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 61px;
  width: 558px;
}

.zavvie-selling-options-report .frame-1221-meqsWf {
  background-color: transparent;
  height: 50px;
  left: 22px;
  position: absolute;
  top: 0px;
  width: 205px;
}

.zavvie-selling-options-report .sellers-can-skip-ope-73TlrJ {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 197px;
}

.zavvie-selling-options-report .frame-1222-73TlrJ {
  background-color: transparent;
  height: 22px;
  left: 8px;
  position: absolute;
  top: 28px;
  width: 197px;
}

.zavvie-selling-options-report .best-fit-for-sellers-7xHEUU {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 182px;
}

.zavvie-selling-options-report .span0-vZKu5P {
}

.zavvie-selling-options-report .span1-vZKu5P {
}

.zavvie-selling-options-report .frame-1227-meqsWf {
  background-color: transparent;
  height: 79px;
  left: 326px;
  position: absolute;
  top: 0px;
  width: 139px;
}

.zavvie-selling-options-report .frame-1225-z6B5Tw {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 73px;
}

.zavvie-selling-options-report .service-fee-0-wwlkQ7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-selling-options-report .seller-agent-30-wwlkQ7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.zavvie-selling-options-report .buyer-agent-0-wwlkQ7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  width: auto;
}

.zavvie-selling-options-report .prep-repairs-wwlkQ7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: auto;
}

.zavvie-selling-options-report .closing-costs-wwlkQ7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 67px;
  width: auto;
}

.zavvie-selling-options-report .frame-1226-z6B5Tw {
  background-color: transparent;
  height: 79px;
  left: 86px;
  position: absolute;
  top: 0px;
  width: 53px;
}

.zavvie-selling-options-report .x0-0-7mZQWe {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-selling-options-report .x6300-8100-7mZQWe {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.zavvie-selling-options-report .x0-0-XNAEqo {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  width: auto;
}

.zavvie-selling-options-report .x0-0-3Wm4ib {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: auto;
}

.zavvie-selling-options-report .x0-0-0iTg7Z {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 67px;
  width: auto;
}

.zavvie-selling-options-report .frame-1230-6nPSye {
  background-color: var(--periwinkle);
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 148px;
  width: 558px;
}

.zavvie-selling-options-report .frame-1219-9t0sfA {
  background-color: transparent;
  height: 37px;
  left: 124px;
  position: absolute;
  top: 4px;
  width: 93px;
}

.zavvie-selling-options-report .estimated-net-C6MvuC {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-selling-options-report .x203700-261900-C6MvuC {
  background-color: transparent;
  height: auto;
  left: -22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: auto;
}

.zavvie-selling-options-report .frame-1220-9t0sfA {
  background-color: transparent;
  height: 37px;
  left: 305px;
  position: absolute;
  top: 4px;
  width: 121px;
}

.zavvie-selling-options-report .net-difference-3Bd2Cz {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.zavvie-selling-options-report .x10500-68700-3Bd2Cz {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 17px;
  width: auto;
}

.zavvie-selling-options-report .frame-1254-Umc8nY {
  background-color: transparent;
  height: 35px;
  left: 16px;
  position: absolute;
  top: 899px;
  width: 592px;
}

.zavvie-selling-options-report .frame-1214-gWgvCF {
  background-color: var(--azure);
  border-radius: 6px;
  height: 35px;
  left: 383px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 209px;
}

.zavvie-selling-options-report .get-offers-from-zavvie-hvEnF2 {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}
